.info p {
    padding-left: 200px;
    margin-bottom: 20px;
    text-align: left;
}

img:hover {
    transform: scale(1.02);
}

.content {
    border-bottom: none;
}

.pic img {
    display: inline-block;
    overflow: hidden;
    border-radius: 8px;
    border: 3px solid pink;
    margin: 10px auto;
    margin-right: 15px;
    height: 400px;
    box-shadow: 0px 2px 5px 0px rgba(118, 118, 118, 0.5);
}
