* {
    margin: 0;
    padding: 0%;
    list-style: none;
    border: none;
}

body {
    font-size: 12px;
    background-color: #d2efe6;
}

.header {
    /* width: 980px; */
    height: 62px;
    /* background-color: #fec0cb; */
    margin:0 auto;
}

.header h1 {
    float: left;
    margin-left: 20px;
}

.search button {
    width: 37px;
    height: 38px;
    float: right;
    margin-top: 13px;
    margin-right: 40px;
    border-radius: 15px;
    background-color: #fff;

    /* line-height: 38px; */
}

.search button:hover {
    box-sizing: border-box;
    /* border: 1px solid black; */
    border: 2px solid #fec0cb;
}

.search button:active {
    background-color: #fec0cb;
}

.header .search  input{
    box-sizing: border-box;
    width: 200px;
    height: 37px;
    margin-top: 13px;
    margin-right: 5px;
    border-radius: 15px;
    float: right;
    
    text-align: center;
    font-size: 16px;
}

.header .search input:hover {
    border: 2px solid #fec0cb;
}

/* .header .search input:active {
    background-color: gray;
} */

.nav_all {
    height: 57px;
}

.nav_all .nav {
    width: 780px;
    height: 57px;
    background-color: #b4edc0;
    margin: 0 auto;
}

.nav li{
    width: 130px;
    height: 57px;
    float: left;
    
    line-height: 57px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.nav a {
    display: inline-block;
    width: 130px;
    height: 57px;
    border-radius: 20px;

    text-decoration: none;
    color: black;
}

.nav a:hover {
    background-color: #fff;
}

.nav a:active {
    background-color: #49634f;
}

.header,
.nav_all {
    background-color: #b4edc0;
}

.banner {
    /* width: 981px; */
    height: 620px;
    box-sizing: border-box;
    /* margin: 35px auto; */
    background-color: #d2efe6;
}

.banner img {
    margin: -3px 321.665px;
}

.new_all {
    height: 30px;
    border: 1px solid #91b3a8;
    border-left: 0;
    border-right: 0;
    margin-top: 20px;

    font-style: italic;
}

.new {
    width: 980px;
    height: 30px;
    margin: 0 auto;
}

.new .left {
    float: left;
    line-height: 30px;
}

.new span {
    font-weight: bold;
    font-style: italic;
}

.new a {
    text-decoration: none;
    color: blue;
}

.new a:hover {
    color: rgb(148, 148, 255);
}

.new .right {
    float: right;
    margin-top: 5px;
}

.new img {
    width: 16px;
    height: 16px;
}

.con {
    width: 980px;
    height: 227px;
    margin: 30px auto 0;
}

.con svg {
    border-radius: 100%;
}

.con .left {
    width: 313px;
    height: 227px;
    /* border: 1px #cccccc solid; */
    float: left;
    background-color: #b5e0fe;
}

.con .left svg:hover {
    background-color: #54b5fa;
}

.con .center {
    width: 375px;
    height: 227px;
    /* border: 1px #cccccc solid; */
    float: left;
    margin-left: 9px;
}

.con .right {
    width: 270px;
    height: 227px;
    background-color: #ffaaaa;
    text-align: center;
    /* border: 1px #cccccc solid; */
    float: right;
}

.con .right svg:hover {
    background-color: #fb6464;
}

.con .title {
    /* width: 308px;
    height: 16px; */
    margin-top: 10px;
    /* margin-left: 5px; */
    text-align: center;
}

.con h3 {
    /* padding-left: 22px; */
    text-align: center;
    font-weight: normal;
    font-style: italic;
}

.con .left .left_ {
    float: left;
    margin: 70px 20px 0px 25px;
}

.con .left .right_ {
    float: right;
    margin: 70px 25px 0px 20px;
}

.con .left .center_ {
    width: 170px;
    height: 170px;
    float: left;
    margin-top: 10px;
}

.con .center {
    padding-right: 10px;
    background-color: #5a5a5a;
    color: #fff;
}

.con .center .black_img {
    float: left;
    width: 170px;
    line-height: 227px;
    margin-top: 10px;
    /* margin-right: 5px; */
}

.con .center .advantage {
    margin-top: 25px;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 15.04px;
    /* font-family: serif; */
}

.con li {
    margin-bottom: 10px;
}

.con .right .red_img {
    /* float: left; */
    width: 170px;
    margin-top: 10px;
}

.con .right .left- {
    float: left;
    margin-top: 70px;
    margin-left: 15px;
}

.con .right .right- {
    float: right;
    margin-top: 70px;
    margin-right: 15px;
}

.footer {
    height: 305px;
    margin-top: 50px;
    background-color: #b3cbc4;
}

.footer .center {
    width: 980px;
    height: 220px;
    margin: 0px auto;
    padding: 20px;
}

.footer .center dl {
    float: left;
    width: 105px;
    height: 235px;
}

.footer .center dt {
    height: 28px;
}

.footer .center dd {
    line-height: 21px;
}

.footer .center .shit {
    height: 0;
}

.footer svg:hover {
    background-color: #d2efe6;
}

.footer .center svg {
    border-radius: 100%;
    float: right;
    margin-top: -8px;
}

.footer .bottom {
    text-align: center;
    line-height: 20px;
}

.footer .bottom {
    height: 85px;
    border-top: 1px solid #778883;
}

.footer .bottom p {
    margin-top: 1px;
}