* {
  /* 粉 */
  /* --font-color: rgb(112, 88, 92);
  --background-color: rgb(250, 219, 223);
  --checked-color: rgb(221, 191, 195); */

  transition: all .3s;
}

*::selection {
  background-color: var(--checked-color);
  color: #fff;
}

body[data-theme = 'dark'] {
    /* 花瓣粉 dark*/
    --font-color: rgb(255, 177, 192);
    --background-color: rgb(79, 52, 57);
    --checked-color: rgb(144, 110, 116);
}

body[data-theme = 'light'] {
  /* 花瓣粉 light*/
  --font-color: rgb(146, 71, 89);
  --main-color: rgb(255, 217, 233);
  --background-color: white;
  --checked-color: rgb(255, 177, 192);
}

body {
  display: flex;
  height: 100vh;
  /* justify-content: space-evenly; */
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: var(--background-color);
  color: var(--font-color);
}

.btn {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid var(--checked-color);
  border-radius: 50%;

  font-weight: bold;
  text-transform: uppercase;

  cursor: pointer;
  user-select: none;
}

.btn:hover {
  transform: scale(1.05);
  background-color: var(--checked-color);
  color: #fff;
}

.btn:hover::after {
  content: '';

  position: absolute;
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: -1px;
  z-index: -1;

  background-color: inherit;
  filter: blur(30px);
}

.btn:active {
  transform: scale(1.01);
}

#nextBtn {
  width: 100px;
  height: 100px;

  padding: 45px;
  border-radius: 50%;
  margin-top: 30px;

  font-size: 1.4em;
  letter-spacing: .05em;
}

.prompt,
.homeBtn {
  position: absolute;
  top: 30px;
}

.promptBtn,
.homeBtn,
.themeBtn,
#playButton {
  position: absolute;
  width: 40px;
  height: 40px;

  font-size: 1.3em;
}

.prompt {
  right: 30px;
}

.homeBtn {
  left: 30px;
}

.promptBtn {
  top: 0;
  right: 0;
}

.promptBtn:hover+.promptText {
  opacity: 1;
}

.promptText {
  position: absolute;
  top: 20px;
  right: 50px;

  width: 180px;

  opacity: 0;
}

.promptText h6 {
  font-size: inherit;
}

.promptText p {
  margin-top: 8px;
}

.homeBtn svg path{
  transform: translate(120px, 60px) scale(.9);
}

.themeBtn {
  position: absolute;
  left: 30px;
  bottom: 30px;
}

.themeBtn svg,
#playButton svg{
  transform: scale(.7);
}

.moon {
  display: none;
}

#playButton {
  right: 30px;
  bottom: 30px;
}

#playButton .playSvg {
  transform: translateX(1px) scale(.7);
}

.pauseSvg {
  display: none;
}