/* || 一般设置 */

html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    background-color: white;
}

body {
    min-width: 800px;
    margin: 0 auto;
}

/* a1 {
    display: flex;
    justify-content: space-evenly;
} */

/* || 排版 */



h1 {
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px 10px black;
}

h2 {
    font-size: 3rem;
    text-align: center;
}

h3 {
    font-size: 2.2rem;
}

p,
li {
    font-size: 1.6rem;
    line-height: 1.5;
}

/* || 标题布局 */

header {
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
}

main,
header,
nav,
article,
aside,
footer,
section {
    background-color: pink;
    padding: 1%;
}

h1 {
    flex: 5;
    text-transform: uppercase;
}

header img {
    display: block;
    height: 60px;
    padding-top: 20.15px;
}

nav {
    height: 50px;
    flex: 100%;
    display: flex;
}

nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
}

nav li {
    display: inline;
    text-align: center;
    flex: 1;
    border: black solid 1px;
}

nav a,
nav span {
    display: inline-block;
    font-size: 2rem;
    height: 3rem;
    line-height: 1.7;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

/* || 主体布局 */

main {
    display: flex;
}

footer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

/* 太阳系表格 */

html {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 0.8rem;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px 20px;
}

th {
    background-color: rgb(235, 235, 235);
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
    background-color: rgb(245, 245, 245);
}

caption {
    padding: 10px;
}